@import url('https://js.arcgis.com/4.12/esri/css/main.css');

.esri-view {
  height: 100%;
}
.search-bar{
    position: absolute;
    top: 9px;
    z-index: 10;
    left: 30%;
    width: 260px;
 
}

.search-icon{
    position: absolute;
    left: -5px;
    width: 40px;
    opacity: 0.5;
    top: 6px;
}
.search{
    font-size: 11px;
}