<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row bg-white rounded-3 mx-2">
                <div class="col-12 mt-2">
                    <div class="row">
                        <div class="col-10">
                            <label class="fs-14 fw-bold text-main"> {{"تفاصيل البلاغ"}}</label>
                        </div>
                        <div class="col-2 d-flex justify-content-end align-items-center">
                         <app-timer></app-timer>
                        </div>
                    </div>
                  
                    <div class="row mt-4 mb-2">
                        <div class="col-6">
                            <input name="callerName" #callerName="ngModel" [(ngModel)]="newIncident.callerName" type="text" class="form-control fs-13" [placeholder]="'أسم المتصل'">
                        </div>
                        <div class="col-6">
                            <input  name="callerTel" #callerTel="ngModel" [(ngModel)]="newIncident.callerNumber" type="number" class="form-control rtl fs-13" [placeholder]="'هاتف المتصل'">
                        </div>
                    </div>
                    <div class="row  my-3">
                        <div class="col-6">
                            <ng-select  name="area" #area="ngModel" [(ngModel)]="newIncident.areaId" class="fs-13" [items]="_area" [bindLabel]="'nameAr'" [searchable]="true" bindValue="id" placeholder="المنطقة"></ng-select>
                        </div>
                        <div class="col-6">
                            <input  name="location" #location="ngModel" [(ngModel)]="newIncident.location" type="text" class="form-control fs-13" [placeholder]="'موقع الحادث'">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-6">
                            <ng-select name="locationType" #locationType="ngModel" [(ngModel)]="newIncident.locationType" class="fs-13" [items]="_locationType" [bindLabel]="'nameAr'" [searchable]="true" bindValue="nameAr"  placeholder="فئة مكان الحادث"></ng-select>
                        </div>
                        <div class="col-6">
                            <ng-select name="incidentType" #incidentType="ngModel" [(ngModel)]="newIncident.incidentType" class="fs-13" [items]="_accidentTypes" [bindLabel]="'nameAr'" [searchable]="true" bindValue="nameAr" placeholder="نوع الحادث"></ng-select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-6">
                            <ng-select class="fs-13" name="entityCategory" #entityCategory="ngModel" [(ngModel)]="newIncident.entityCategory" [items]="_entityCategory" [bindLabel]="'nameAr'" [searchable]="true" bindValue="nameAr" placeholder="الضرر المباشر"></ng-select>
                        </div>
                        <div class="col-6">
                            <ng-select name="incidentCategory" #incidentCategory="ngModel" [(ngModel)]="newIncident.incidentCategory" class="fs-13" [items]="[{id:'1', nameAr:'الكل'}]" [bindLabel]="'nameAr'" [searchable]="true" bindValue="nameAr" placeholder="فئة البلاغ"></ng-select>
                        </div>
                    </div>
                    <div class="d-inline-flex justify-content-between align-items-center">
                        <label class="fw-bold fs-13 text-main">{{"الأهمية"}}:</label>
                        <div class="mx-3 ">
                           <mat-chip-listbox aria-label="Fish selection" name="priority" #priority="ngModel" [(ngModel)]="newIncident.priority">
                            <mat-chip-option  class="rounded-3" *ngFor="let item of _priority" 
                            disableRipple="true"
                         >
             {{item.nameAr}}
           </mat-chip-option>                           
                          </mat-chip-listbox>   
                        </div>
                          
                    </div>
                    <div class="d-inline-flex justify-content-between align-items-center my-3 support">
                        <label class="fw-bold fs-13 text-main">{{"الدعم"}}:</label>
                        <div class="mx-3 ">
                           <mat-chip-listbox (click)="addpolice($event)"  aria-label="Fish selection" multiple="true">
                            <mat-chip-option class="rounded-3"
                            disableRipple="true">{{"الشرطة"}}</mat-chip-option>                           
                            <mat-chip-option  class="rounded-3"
                            disableRipple="true">{{"إسعاف حكومى"}}</mat-chip-option>                           
                          </mat-chip-listbox>   
                        </div>
                          
                    </div>
                </div>
                <div class="d-inline-flex justify-content-between align-items-center mb-3">
                    <button class="btn btn-outline-blue btn-primary">{{"إرسال الموقع عن طريق رسالة نصية"}}</button>
                      
                </div>
                <div class="col-12 my-2 map-area position-relative">
                    <!-- map will be here -->
                    
                    <app-esri-map [clickable]="true" [searchable]="true" [center]="mapCenter"
                    [basemap]="basemapType"
                    [zoom]="mapZoomLevel"
                    (mapLoadedEvent)="mapLoadedEvent($event)"></app-esri-map>
                </div>
                <div class="row my-2">
                    <div class="col-8">
                        <div class=" d-inline-flex">
                            <div class=" ">
                                <button class="btn text-white fs-13 btn-success rounded-1" (click)="addIncidentComplete()">{{"تحويل"}}</button>
                            </div>
                            <div class=" ">
                                <button class="btn text-white fs-14 btn-brown mx-2" (click)="addIncidentQuick()">{{"حفظ وإستكمال"}}</button>
                            </div>
                            <div class=" ">
                                <button class="btn text-white fs-14 btn-brown">{{"SOP"}}</button>
                            </div>
                        </div>
                    </div>    
                    <div class="col-4 px-0 d-flex  justify-content-end">
                        <div class="d-inline-flex">
                        <div class="mx-2">
                            <button class="btn text-white fs-13 btn-dark-grey">{{"إلغاء"}}</button>
                        </div>
                        <div class="">
                            <button class="btn btn-dark-grey py-1">
                                <img src="assets/images/arrow.svg">    
                            
                            </button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
        <div class="col-6 px-0">
            <div class="row mx-2 bg-white rounded-3 comments-section position-relative">
               <app-comments [_comments]=""></app-comments>
            </div>
            <div class="row mx-2 bg-white rounded-3 mt-2">
               <app-incidents-list [incidentsList]="_incidents"></app-incidents-list>
            </div>

        </div>
    </div>
</div>